<template>
  <q-layout>
    <div slot="header" class="toolbar secondary">
      <div class="toolbar secondary">
        <q-toolbar-title :padding="0">
            Odor APP Verwaltung
        </q-toolbar-title>
            <button
              class="hide-on-drawer-visible"
              @click="$refs.drawer.open()"
              >
            <i>menu</i>
            </button>

      </div>       
    </div>
   
  <q-drawer ref="drawer">
    <div class="list platform-delimiter">
      <q-drawer-link icon="home" :to="{path: '/home', exact: true}">Home</q-drawer-link>
      <q-drawer-link icon="title" :to="{path: '/acc', exact: true}">Testverwaltung</q-drawer-link>
      <q-drawer-link icon="trending_up" to="/s">Auswertung</q-drawer-link>
      <button icon="logout" to="" @click="logout">Logout</button>
    </div>
  </q-drawer>
    <!--
      Replace following "div" with
      "<router-view class="layout-view">" component
      if using subRoutes
    -->
    <router-view class="layout-view"></router-view>
  </q-layout>
</template>

<script>
/*eslint-disable */
var moveForce = 30
var rotateForce = 40

import { Utils } from 'quasar'

export default {
  data () {
    return {
      moveX: 0,
      moveY: 0,
      rotateY: 0,
      rotateX: 0
    }
  },
  beforeRouteEnter (to, from, next) {
    console.log("Try to reach Index route or subroutes: /home " + checkAuth())
    if(checkAuth()){
        next()
    }else{
      next('/')
    }    
  },
  computed: {
    
  },
  methods: {  
    logout(){
      this.$store.dispatch('logout',this.$router)
    }
  },
  mounted () {
       
  },
  beforeDestroy () {
    document.removeEventListener('mousemove', this.move)
    document.removeEventListener('touchmove', this.move)
  }

}

function checkAuth() {
  return !!localStorage.getItem('id_token');
}
</script>

<style lang="styl">
.logo-container
  width 192px
  height 268px
  perspective 800px
  position absolute
  top 50%
  left 50%
  transform translateX(-50%) translateY(-50%)
.logo
  position absolute
  transform-style preserve-3d
</style>
