<template>
<q-layout>

  <div class="container">
    
    <transition name="slide-fade">
        <div class="login-container">
        <img class="img-logo"src="~assets/logoOdor.png" width="300" height="300"/>
         <!-- <input placeholder="Nutzernamen eingeben..."></input>
          <input type="password" placeholder="Passwort eingeben..."></input>-->
          <button @click="login" class="secondary btn">Einloggen</button>   
        </div>
    </transition>  

   <div slot="footer" class="toolbar secondary">
        © Universitätsklinikum Carl Gustav Carus Dresden 2017   
       <a href="https://www.facebook.com/ukdresden/?fref=ts"><img src="~assets/facebook-box.png"/></a>
   </div>
    
  </div>
  </q-layout>
</template>

<script>
/*eslint-disable */

import { Utils } from 'quasar'

export default {
  data () {
    return {
        show: true,
        authenticated: this.$store.isAuthenticated,
        secretThing: ''      
    }
  },mounted(){
    console.log(this.$store.getters.isAuthenticated)
  },
  methods:{
    login(){
      this.$store.dispatch('login')
    }
  }
 
}

function checkAuth() {
  return !!localStorage.getItem('id_token');
}
</script>

<style lang="styl">
.img-logo
 margin auto
.heading
  display flex
.login-container
  display flex
  flex-direction column
  margin auto
  width 30%
.container 
  display flex
  width 100%
  flex-direction column 
.logo
  position absolute
.btn
  margin-top 20px
.login-text
  width 100%
  text-align center

.slide-fade-enter-active {
  transition: all 0.8s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(100px);
  opacity: 0;
}
</style>
