<template>
    <div class="container">  
        <div class="section-heading card bg-teal text-white">
            <div class="card-title">
                Testerstellung 
            </div>
             <div class="card-content">
                Legen sie hier neue Tests für die Odor APP an.
                Tragen Sie dafür einen Testnamen ein und fügen sie anschließend Bilder für das Übungsset hinzu.  
            </div>
        </div>  
        
        <div class="section-name">           
                Testname: <input placeholder="Bitte Testnamen eingeben..."></input>         
        </div>

        <div class="section-picture">
               Bild hinzufügen <button class="secondary">+</button>
        </div>

        <div class="section-list">
            <li v-for="test in bilder">
                <TestBild :test="test"/>
            </li>
        </div>

        <div class="section-footer">
            <button class="btn secondary">Test erstellen</button>
        </div>

    </div>  
</template>

<script>
/* eslint-disable */


import { Utils } from 'quasar'
import TestBild from './TestBild.vue'
export default {
  data () {
    return {
      tests:[
         {id:1,name:"Pafüme",bilder:[
             {id:1,name:"Apfel",url:"https://de.wikipedia.org/wiki/%C3%84pfel#/media/File:Sterappel_dwarsdrsn.jpg"},
             {id:2,name:"Orange",url:"https://de.wikipedia.org/wiki/Orange_%28Frucht%29#/media/File:OrangeBloss_wb.jpg"}
         ]} 
      ],
      bilder:[
             {id:1,name:"Apfel",url:"https://upload.wikimedia.org/wikipedia/commons/1/11/Sterappel_dwarsdrsn.jpg"},
             {id:2,name:"Orange",url:"https://upload.wikimedia.org/wikipedia/commons/b/b0/OrangeBloss_wb.jpg"}
         ]
    }
  },
  computed: {
    
  },
  methods: {
    
  },
  components:{
    TestBild
  },
  mounted () {
 
  },
  beforeDestroy () {
   
  }
}
</script>

<style lang="styl">
.container
    display flex
    flex-direction column
.section-heading
    flex-grow 2
.section-name
    flex-grow 1
    margin-left:10%
.section-picture
    flex-grow 1
    margin-left:10%
.section-list 
    flex-grow 4
    align-self center
    list-style none
.section-footer
    flex-grow 1
.btn
    float right
    margin-right 20px
</style>
