<template>

 <div class="card-container">  
    <div class="card">
    <div class="card-title bg-secondary text-white">
        Aktueller Test
    </div>
    <div class="card-content card-force-top-padding">
        <p>Aktueller Test:</p> {{aktuellerTest.name}} </br>
        
        <Button @click="testDetail" class="secondary">Details anzeigen</Button>
    </div>
    </div>
    </div>

</template>

<script>
/* eslint-disable */
var moveForce = 30
var rotateForce = 40

import { Utils } from 'quasar'

export default {
  data () {
    return {
      aktuellerTest:{
          name:"Parfüm"
      }
    }
  },
  computed: {
    
  },
  methods: {
    testDetail(){
      this.$router.push("/testDetail")
    }
  },
  mounted () {
 
  },
  beforeDestroy () {
   
  }
}
</script>

<style lang="styl">
.card-container
  width 75%
  margin-left auto
  margin-right auto
  margin-top 20px

</style>

