<template>

 <div class="list">
  <div class="list-label">Movies</div>
  
</div>

</template>

<script>
/* eslint-disable */
var moveForce = 30
var rotateForce = 40

import { Utils } from 'quasar'

export default {
  data () {
    return {
      aktuellerTest:{
          name:"Parfüm"
      }
    }
  },
  computed: {
    
  },
  methods: {
    
  },
  mounted () {
 
  },
  beforeDestroy () {
   
  }
}
</script>

<style lang="styl">
.card-container
  width 75%
  margin-left auto
  margin-right auto
  margin-top 20px

</style>

