<template>
    <div class="container">  
        <div class="card bg-teal text-white">
            <div class="card-title">
                Testverwaltung 
            </div>                   
        </div>  
        <div class="dashboard">
                <div class="region">
                    <LaufendeTests />
                </div>  
                <div class="region">
                    <TestInfoBox />
                </div>                          
                   
        </div>  
 
        </div>
    </div>  
</template>

<script>
/* eslint-disable */


import { Utils } from 'quasar'
import LaufendeTests from './TestLaufend.vue'
import TestInfoBox from './TestInfoBox.vue'
export default {
  data () {
    return {
      tests:[
         {id:1,name:"Pafüme",bilder:[
             {id:1,name:"Apfel",url:"https://de.wikipedia.org/wiki/%C3%84pfel#/media/File:Sterappel_dwarsdrsn.jpg"},
             {id:2,name:"Orange",url:"https://de.wikipedia.org/wiki/Orange_%28Frucht%29#/media/File:OrangeBloss_wb.jpg"}
         ]} 
      ]
    }
  },
   route:{
    canActivate(){    
       return true;    
    }
  },
  computed: {
    
  },
  methods: {
    
  },
  components:{
    LaufendeTests,
    TestInfoBox
  },
  mounted () {
 
  },
  beforeDestroy () {
   
  }
}
</script>

<style lang="styl">
.dashboard
    display flex
    flex-direction column
.region
    padding 5px
    box-sizing border-box
    flex-grow 1
</style>
