<template>

 <div class="container">  
        <div class="card bg-teal text-white">
            <div class="card-title">
                Aktueller Test 
            </div> 
                                
        </div>  
        <li v-for="test in bilder">
          <TestBild :test="test"/>
        </li>
        
 
        </div>
    </div>  

</template>

<script>
/* eslint-disable */


import { Utils } from 'quasar'
import TestBild from './TestBild.vue'
export default {
  data () {
    return {
        
        
    }
  },
  computed: {
    bilder(){
        return this.$store.getters.pictures
    }
  },
  methods: {
    
  },
  components: {
    TestBild
  },
  mounted () {
    this.$store.dispatch("loadPictures")
  },
  beforeDestroy () {
   
  }
}
</script>

<style lang="styl">
.card-container
  width 75%
  margin-left auto
  margin-right auto
  margin-top 20px

</style>

