<template>

 <div class="item two-lines">
  
    <img class="item-primary thumbnail" :src="test.url">
    <div class="item-content has-secondary">
      <div>{{test.id}}</div>
      <div>{{test.name}}</div>
      <div>{{test.url}}</div>
    </div>
    <i class="item-secondary">
      movie
    </i>
  </div>

</template>

<script>
/* eslint-disable */
var moveForce = 30
var rotateForce = 40

import { Utils } from 'quasar'

export default {
  data () {
    return {
      aktuellerTest:{
          name:"Parfüm"
      }
    }
  },
  props:['test'],
  computed: {
    
  },
  methods: {
    
  },
  mounted () {
 
  },
  beforeDestroy () {
   
  }
}
</script>

<style lang="styl">
.card-container
  width 75%
  margin-left auto
  margin-right auto
  margin-top 20px

</style>

