<template>

 <div class="card-container">  
    <div class="card">
    <div class="card-title bg-secondary text-white">
        Willkommen in der Odor Verwaltung Version 1.0.0
    </div>
    <div class="card-content card-force-top-padding">
        Diese App befindet sich noch im Aufbau...
    </div>
    </div>
    </div>

</template>

<script>
/* eslint-disable */
var moveForce = 30
var rotateForce = 40

import { Utils } from 'quasar'

export default {
  data () {
    return {
     
    }
  },
  computed: {
    
  },
  methods: {
    
  },
  mounted () {
 
  },
  beforeDestroy () {
   
  }
}
</script>

<style lang="styl">
.card-container
  width 75%
  margin-left auto
  margin-right auto
  margin-top 20px
</style>

