<template>
    <div class="container">
    <img src="~assets/logoOdor.png" width="300" height="300"/>
    <WelcomeText/>
    </div>  
</template>

<script>
/* eslint-disable */
var moveForce = 30
var rotateForce = 40

import { Utils } from 'quasar'
import WelcomeText from './WelcomeText.vue'
export default {
  data () {
    return {
      
    }
  },
  computed: {
    
  },
  methods: {
    
  },
  components:{
     WelcomeText
  },
  mounted () {
 
  },
  beforeDestroy () {
   
  }
}
</script>

