<template>
  <!-- Don't drop "q-app" class -->
  <div id="q-app">
   
    
    <router-view></router-view>  
    <div v-if="!$store.getters.isAuthenticated"><Login ></Login></div>
  </div>
</template>

<script>
/*eslint-disable */
import Login from './components/Login.vue'
export default {
   data () {
   return {       
       authenticated: this.$store.isAuthenticated,
       secretThing: '',
       lock: this.$store.lock
   }
  },
  ready() {
   
  },
  components: {
    Login
  },
  methods: {
   
    // Make a secure call to the server by attaching
    // the user's JWT as an Authorization header
    getSecretThing() {
      var jwtHeader = { 'Authorization': 'Bearer ' + localStorage.getItem('id_token') };
      this.$http.get('http://localhost:3001/secured/ping', (data) => {
        console.log(data);
        this.secretThing = data.text;
      }, {
        headers: jwtHeader
      }).error((err) => console.log(err));
    }
   
  },
  mounted () {
    console.log("initialize")
    
    this.$store.dispatch('init',this.$router)
    
    /*console.log("bl")
    this.authenticated = checkAuth();
    this.lock.on('authenticated', (authResult) => {
      console.log('authenticated');
      localStorage.setItem('id_token', authResult.idToken);
      this.lock.getProfile(authResult.idToken, (error, profile) => {
        if (error) {
          console.log("Error")
          return;
        }
        // Set the token and user profile in local storage
        localStorage.setItem('profile', JSON.stringify(profile));
        console.log('bla')
        this.$router.push('/home')
        this.authenticated = true;
        
      });
    });
    this.lock.on('authorization_error', (error) => {
      // handle error when authorizaton fails
    });*/
   
  },
  computed(){
    console.log(this.$store.getters.isAuthenticated)
  },
  beforeDestroy () {
  
  },
  beforeCreate(){
    
  }
}
function checkAuth() {
  return !!localStorage.getItem('id_token');
}
</script>

<style></style>
